* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
  font-family: "Lateef", cursive;
  font-family: "Noto Naskh Arabic", serif;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 110vh;
  background-image: url(../img/home_bg.png);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 100%;
  height: 5em;
  display: flex;
  z-index: 20;
  transition: 0.5s;
}
.navbar .img {
  width: 25%;
}
.navbar .img img {
  width: 4em;
  height: 4em;
  margin: 0.5em 1em 0 3em;
}
nav {
  width: 75%;
  align-items: center;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin-right: 3em;
  color: white;
  transition: 0.3s;
}
nav ul li:hover a {
  color: rgb(25, 26, 27);
  cursor: pointer;
}
.navbar .bi {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 60%;
  text-align: center;
  align-items: center;
  display: none;
}
.btn {
  width: 7em;
  height: 45px;
  background: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  border: 1px solid rgb(25, 26, 27);
  color: rgb(25, 26, 27);
}

.container {
  display: flex;
}
.texthead {
  width: 40%;
  margin-top: 140px;
  margin-left: 3em;
}
.texthead h1 {
  font-size: 55px;
  line-height: 1.3;
}
.texthead p {
  color: rgb(133, 133, 133);
  font-size: 20px;
  line-height: 1.8;
}
.text_Btn {
  display: flex;
  width: 100%;
  margin-top: 2em;
  align-items: center;
}
.text_Btn a {
  text-decoration: none;
  color: white;
  background: rgb(101, 101, 230);
  width: 40%;
  height: 50px;
  text-align: center;
  padding: 14px 10px 0 10px;
  border-radius: 5px;
  margin-right: 50px;
  transition: 0.3s;
}
.text_Btn p {
  font-size: small;
}
.container img {
  width: 42%;
  height: 10%;
  margin-left: 10%;
  margin-top: 3.5em;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .header {
    width: 101%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  .navbar .bi {
    display: block;
    color: rgb(0, 0, 0);
  }
  nav {
    position: fixed;
    top: -1000px;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    z-index: 3939;
    transition: 0.5s;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.37);
  }
  nav ul li {
    display: block;
    margin-top: 60px;
  }
  nav ul .bi {
    color: black !important;
    margin-left: 9em !important;
    margin-top: -3.5em !important;
  }
  nav ul li a {
    color: black !important;
  }
  nav ul li a:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  nav button {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
  }
  .texthead {
    width: 90%;
    margin-top: 0.5em;
    margin-left: 1em;
  }
  .container img {
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .text_Btn a {
    width: 60%;
  }
}

/* .................................................................................. */

.overviw {
  width: 100%;
  height: 100vh;
  background-image: url(../img/over.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.appoverviwe {
  width: 80%;
  height: 90vh;
  position: absolute;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.37);
  text-align: center;
  margin-left: 10em;
  margin-top: 60px;
}
.appoverviwe h1 {
  margin-top: 90px;
}
.appoverviwe p {
  line-height: 1.8;
  color: rgb(153, 153, 153);
}
.card {
  display: flex;
  margin-top: 80px;
}
.card img {
  position: relative;
}
.card i {
  position: absolute;
  font-size: 50px;
  padding: 60px;
  color: white;
  z-index: 1;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .overviw {
    margin-top: 9em;
  }
  .appoverviwe {
    height: 105em;
    margin-left: 30px;
    padding: 0 10px 0 10px;
  }
  .card {
    display: block;
    margin-top: 50px;
  }
  .card div {
    margin-top: 80px;
  }
}

/* ............................................................................................... */
.major {
  margin-top: 50px;
  padding-top: 70px;
}
.major h2 {
  text-align: center;
}
.major p {
  width: 98%;
  text-align: center;
  font-size: 16px;
  color: rgb(153, 153, 153);
}
.containr_Maj {
  width: 100%;
  display: flex;
  align-items: center;
}
.major .text_maj {
  margin-left: 120px;
  width: 50%;
}
.major i {
  font-size: 50px;
  color: orange;
  margin: 10px;
}
.major h3 {
  line-height: 1.8;
}
.major .text_maj p {
  text-align: justify;
  line-height: 1.8;
}
.major a {
  color: black;
}
.img_maj {
  width: 50%;
  height: 500px;
  background-image: url(../img/f2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10em;
  margin-top: 50px;
  padding: 60px;
}
.img_maj img {
  width: 350px;
  height: 550px;
  border-radius: 20px;
}
.img_maj2 {
  width: 50%;
  height: 550px;
  background-image: url(../img/f4.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 150px;
  margin-top: 50px;
  padding: 40px 50px 20px;
}
.img_maj2 img {
  width: 350px;
  height: 600px;
  border-radius: 20px;
}
.img_maj3 {
  width: 50%;
  height: 550px;
  background-image: url(../img/f6.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 150px;
  margin-top: 50px;
  padding: 50px;
}
.img_maj3 img {
  width: 350px;
  height: 600px;
  border-radius: 20px;
}
.containr_Maj2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.containr_Maj2 .text_maj2 {
  margin-right: 150px;
  width: 50%;
}
.major .text_maj2 p {
  text-align: justify;
  line-height: 1.8;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .major {
    margin-top: 65em;
    position:sticky;
  }
  .major3,
  .major2 {
    margin-top: 100px !important;
  }
  .containr_Maj {
    display: block;
    margin-top: 30px;
  }
  .containr_Maj2 {
    display: block;
    margin-top: 30px;
  }
  .major .text_maj {
    margin-left: 18px;
    width: 90%;
  }
  .containr_Maj2 .text_maj2 {
    margin-left: 18px;
    width: 90%;
  }
  .img_maj {
    width: 350px;
    height: 350px;
    margin-left: 18px;
    padding: 20px;
  }
  .img_maj img {
    width: 300px;
    height: 500px;
  }
  .img_maj2 {
    width: 350px;
    height: 350px;
    margin-left: 18px;
    padding: 20px;
  }
  .img_maj2 img {
    width: 300px;
    height: 500px;
  }
  .img_maj3 {
    width: 350px;
    height: 350px;
    margin-left: 18px;
    padding: 20px;
  }
  .img_maj3 img {
    width: 300px;
    height: 500px;
  }
}
/* .........................................................................................  */
.Exc {
  margin-top: 100px;
  padding-top: 70px;
  background: rgb(247, 247, 247);
}
.Exc h2 {
  text-align: center;
}
.Exc p {
  width: 96%;
  text-align: center;
  font-size: 16px;
  color: rgb(153, 153, 153);
  line-height: 1.8;
}
.container_Exc {
  width: 100%;
  display: flex;
  align-items: center;
}
.text_Exc {
  width: 50%;
  display: flex;
  margin-right: 100px;
}
.text_card {
  width: 50%;
  margin-left: 50px;
}
.text_card p {
  text-align: justify;
}
#i1 {
  width: 50px;
  height: 50px;
  background: rgb(35, 110, 224);
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
}
#i2 {
  width: 50px;
  height: 50px;
  background: rgb(204, 153, 252);
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: white;
}
#i3 {
  width: 50px;
  height: 50px;
  background: rgb(46, 186, 241);
  padding: 13px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
}
#i4 {
  width: 50px;
  height: 50px;
  background: rgb(14, 250, 140);
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  color: white;
}
.img_Exc {
  width: 50%;
  height: 500px;
  background-image: url(../img/fe1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  padding-top: 20px;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .Exc {
    margin-top: 175px;
  }
  .container_Exc {
    display: block;
  }
  .text_Exc {
    display: block;
    width: 100%;
  }
  .text_card {
    width: 80%;
    text-align: center;
    margin-left: 40px;
  }
  .text_card p {
    text-align: center;
  }
  .img_Exc {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .img_Exc img {
    width: 300px;
    height: 250px;
  }
}
/* .........................................................................................  */
.downlood {
  width: 100%;
  height: 90vh;
  padding-top: 90px;
  background-image: url(../img/d2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}
.text_down {
  width: 50%;
  margin-left: 50px;
}
.text_down a {
  color: white;
  text-decoration: none;
}
.text_down h1 {
  width: 100%;
  font-size: 50px;
}
.text_down p {
  width: 100%;
  font-size: 15px;
  color: rgba(235, 235, 235, 0.719);
  font-weight: 800;
  line-height: 1.8;
}
.containr_down {
  width: 100%;
  display: flex;
}
.card_down {
  width: 230px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  margin-top: 50px;
  margin-right: 20px;
  padding: 5px;
}
.card_down i {
  font-size: 50px;
  margin-right: 15px;
}
.card_down p {
  color: white;
  font-size: 9px;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .downlood {
    display: block;
    height: 100%;
  }
  .text_down {
    width: 80%;
  }
  .text_down p {
    width: 80%;
  }
  .downlood img {
    width: 90%;
    margin-top: 50px;
  }
  .containr_down {
    display: block;
  }
  .card_down {
    width: 270px;
  }
}

/* .......................................................................................  */
.team {
  margin-top: 25px;
  padding-top: 70px;
  text-align: center;
}
.team p {
  color: rgb(153, 153, 153);
}
.team_imj img {
  margin-right: 10%;
  margin-top: 20px;
}
@media (max-width: 700px) {
  .team {
    margin-top: 0;
  }
  .team_imj img {
    width: 160px;
    margin-top: 30px;
    margin-right: 10px;
  }
}

/* ................................................................................  */
footer {
  margin-top: 80px;
  padding-top: 30px;
  background: rgb(53, 53, 53);
  width: 100%;
  color: white;
  padding: 30px;
}
.containr_foot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.foot_1 {
  width: 300px;
}
.foot_1 img {
  width: 100px;
  height: 100px;
}
.foot_1 p {
  color: rgba(235, 235, 235, 0.719);
  line-height: 1.8;
  font-weight: bold;
}
.foot_1 i {
  color: rgba(235, 235, 235, 0.719);
  margin: 5px;
}
.foot_2 .btn_foot {
  width: 300px;
}
.foot_2 button {
  background: transparent;
  border: 2px solid rgba(235, 235, 235, 0.719);
  border-radius: 5px;
  color: rgba(235, 235, 235, 0.719);
  padding: 10px 25px;
  margin: 5px 5px 5px 0;
}
.foot_3 p {
  color: rgba(235, 235, 235, 0.719);
  font-weight: bold;
  line-height: 1.8;
}
.foot_4 p {
  color: rgba(235, 235, 235, 0.719);
  font-weight: bold;
}
.foot_4 i {
  margin: 10px;
}
@media (max-width: 767px) and (max-width: 1024px) {
  .containr_foot {
    display: block;
  }
}
/* @media (max-width: 700px) {
  .containr_foot {
    display: block;
  }
  .foot_1 {
    width: 100%;
  }
  .foot_1 img {
    text-align: center;
  }
  .foot_2 .btn_foot {
    width: 100%;
  }
  .foot_2 button {
    padding: 10px 18px;
  }
} */
